SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

STRIPE_SECRET_KEY=

CELERY_BROKER_URL=

CELERY_RESULT_BACKEND=

EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_USE_SSL=
EMAIL_HOST_PASSWORD=

CELERY_BEAT_SCHEDULE=